.player {
    height: 300px;
    font-size: 500px;
    transition: background-color 2s ease-in-out;
}

.mood {
    height: auto;
    font-size: 500px;
}

.position {
    height: 230px;
}

.font-style {
    font-size: x-large;
    font-family: 'EB Garamond', serif;
    line-height: 32px;;
}

.bars {
    height: 10px;;
}