<style>
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
</style>

<div class="row">
  <div class="row">
    <!-- <div>
      <base-card>
        <base-card-title> WELCOME </base-card-title>
        <base-card-body>
          <button class="mdl-button mdl-js-button mdl-button--raised color--light-blue" (click)="startGame()">
            Enter
          </button>
        </base-card-body>
      </base-card>
    </div> -->

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <base-card>
          <base-card-title>
            <h2 class="mdl-card__title-text">Map</h2>
          </base-card-title>
          <base-card-body class="font-style">
            <app-map-component [newDirection]="newDirection" [currentMapText]="currentMapText">
            </app-map-component>
          </base-card-body>
        </base-card>
      </div>
    </div>

    <app-player
      [player]="player"
      (travelEvent)="travel($event)">
    </app-player>

  </div>
</div>