<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--6-col-phone">
        <div>
            <span class="dot" id="player-dot"></span>
            <span class="npc-dot" id="npc-dot"></span>
            <img src="assets/images/the-eagles-landing.png">
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--6-col-phone">
        <div>
            <span class="text" id="text">
                {{this.currentMapText?.text}}
            </span>
            <div *ngIf="this.currentMapText?.dialogue?.length">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" (click)="interact()">
                    Interact
                </button>
            </div>
        </div>
    </div>
</div>