<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--6-col-phone">
        <div>
            <div class="dot" id="player-dot"></div>
            <img src="assets/images/the-eagles-landing.png">
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--6-col-phone">
        <div>
            <div [ng-typed]="{speed: 0, timeout: 1000}">You have entered the entrance of the dungeon. You just pass a
                signboard that reads 'The Eagle's Landing'.</div>
        </div>
    </div>
</div>